<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= locals.title ? title : 'Admin | Login' %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/icons/font-awesome.css">
    <link rel="stylesheet" href="/material/material-icons.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>