<%- include('includes/header') %>
    <%- include('includes/navbar') %>
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="card mb-3 ">
                        <div class="card-body p-0">
                            <div class="row m-0 p-0 ">
                                <div class="col-sm-3 align-center c-header rounded-start">
                                    <i class="fa fa-users text-primary" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-9 c-body rounded-end text-center">
                                    15
                                    <br>
                                    <i class="text-muted fs-6">- Total Companies -</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="card mb-3 ">
                        <div class="card-body p-0">
                            <div class="row m-0 p-0 ">
                                <div class="col-sm-3 align-center c-header rounded-start">
                                    <i class="fa fa-archive text-info"></i>
                                </div>
                                <div class="col-sm-9 c-body rounded-end text-center">
                                    10
                                    <br>
                                    <i class="text-muted fs-6">- Total Devices -</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="card mb-3 ">
                        <div class="card-body p-0">
                            <div class="row m-0 p-0 ">
                                <div class="col-sm-3 align-center c-header rounded-start">
                                    <i class="fa fa-inr text-success"></i>
                                </div>
                                <div class="col-sm-9 c-body rounded-end text-center">
                                    1000/-
                                    <br>
                                    <i class="text-muted fs-6">- Total Recharge Amount -</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="card mb-3 ">
                        <div class="card-body p-0">
                            <div class="row m-0 p-0 ">
                                <div class="col-sm-3 align-center c-header rounded-start">
                                    <i class="fa fa-archive text-danger"></i>
                                </div>
                                <div class="col-sm-9 c-body rounded-end text-center">
                                    5
                                    <br>
                                    <i class="text-muted fs-6">- Total Off Device -</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <%- include('includes/footer') %>